credentials.json
.env
.venv/
__pycache__/
app/__pycache__/
model/__pycache__/
utils/__pycache__/
General.webp
Jeweller_Invoice_Format.webp
cover.png
han.webp
noe.avif
invoices.xlsx
impira_direct.json
